@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Concert One", system-ui;
}

/* For mobile */
@media (max-width: 768px) {
  html {
    background-image: url("/src/assets/bg-repeat.png");
    background-repeat: repeat-y;
    background-size: auto;
    background-attachment: fixed, local;
  }
}

/* For desktop */
@media (min-width: 769px) {
  html {
    background-image: url("/src/assets/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}
